<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Persona</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
   
    </head>
    <body>
        <h1 th:text="${titulo}"></h1>
        <!-- Genera una table -->
        <table class="table table-dark table-striped">
            <thread class="thread-dark">
                <!-- table row -->
                <tr>
                    <th scoper="col">Nombre</th>
                    <th scoper="col">Apellido 1</th>
                    <th scoper="col">Apellido 2</th>
                    <th scoper="col">Email</th>
                    <th scoper="col">Telefono</th>
                    <th scoper="col">Pais</th>
                    <th scoper="col">Editar</th>
                    <th scoper="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${personas}">
                <tr>
                    <td th:text="${user.getNombre}"></td>
                    <td th:text="${user.getApellido1}"></td>
                    <td th:text="${user.getApellido2}"></td>
                    <td th:text="${user.getEmail}"></td>
                    <td th:text="${user.getTelefono}"></td>
                    <!-- Se obtiene objeto de tipo pais y pais tiene metodo get pais y eso obtiene el nombre del pais -->
                    <td th:text="${user.getPais.getPais}"></td>
                    <td>
                        <a th:href="@{/editPersona/{id} (id=${user.getId})}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{/delete/{id} (id=${user.getId})}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
    </body>
</html>
